<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head", {title: "Inicio"}) %>

<body>
    <!-- Header -->
    <%- include("partials/headerNavbar") %>
    <!-- /Header -->

    <!-- Banner -->
    <div class="banner"></div>
    <!-- /Banner -->

    
    <!-- Ofertas -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Ofertas</h2>
            </div>
            <% for( let product of products) { %>
            <!-- Show the "visited" products -->
            <div class="col-12 col-sm-6 col-lg-3">
                <%- include("components/product",{product}) %>
            </div>
            <% } %>
        </div>
    </div>
    <!-- /Ofertas -->

    <!-- footer -->
    <%- include("partials/footer") %>
    <!-- /footer -->
</body>

</html>